

.Footer {
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border: none;
    font-weight: bold;
    height: 125px;
    width: 100%;
    border-top: 4px solid navy;
    margin-top: 20px;
}

.footerVid {
    object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0px;
}

.footerText { 
    align-items: center;
    position: relative;
    font-size: xx-large;
    text-shadow: 0 0 5px navy;
    color: white;
    margin: 3px;
    justify-content: center;
 }

 .footerLink {
    text-align: center;
    margin-top: 40px;
    
 }
 .footerCont {
    padding: 0px;
    margin: 0px;
 }