

#BlogForm {
    width: 80%;
}

.FormBtn {
    margin: 10px;
}

.formText {
    background-color: aliceblue;
    color: navy;
}

.error-text {
    color: navy;
    font-size: large;
}
.formHead {
    color: navy;
}

@media screen and (max-width: 415px) {
    .CreateCont{
        max-width: 370px;
    }
  }