

#BlogForm {
    width: 80%;
}

.FormBtn {
    margin: 10px;
}

.FormBtn:hover {
    color: navy;
    background-color: var(--primary-color);
    border-color: navy;
    box-shadow: 0 0 10px var(--primary-color);
}

.formText {
    background-color: aliceblue;
    color: navy;
}

.error-text {
    color: navy;
    font-size: large;
}